[Unit]
Description=Reverse SSH Tunnel

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=#{ReverseSshScriptLocation}#
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Type=exec
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=VostokSsh

[Install]
After=network-online.target
Wants=network-online.target