[Unit]
Description=Probe Logger Service

[Service]
User=root
WorkingDirectory=#{ServiceUserHomeDirectory}
ExecStart=#{ServiceUserHomeDirectory}/RpiProbeLogger/RpiProbeLogger
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Type=exec
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=RpiProbeLogger

[Install]
WantedBy=multi-user.target