[Unit]
Description=Probe Logger Service

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/dotnet/dotnet /home/pi/RpiProbeLogger/RpiProbeLogger.dll
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Type=exec
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=RpiProbeLogger

[Install]
WantedBy=multi-user.target